.LandingPage{
    margin: auto;
    padding: 15px;
    margin-top: 100px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    /* background-color: aliceblue */
    background: url(../images/dogAndCat.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.LandingPage a{
    border: 2px solid lightsteelblue;
    padding: 10px
}

.LandingPage h3, p{
    color: white;
}

.LandingPage p{
    text-align: center;
    padding-bottom: 10px
}

@media screen and (min-width: 450px) {
    .LandingPage{
        height: 40%;
    }
}

@media screen and (max-width: 490px) {
    .LandingPage{
        margin-top: 60px;
        width: 80%;
    }
}